#bowling_sheet {
  background-color: white;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

#reset_game_btn {
  position: absolute;
  margin-left: auto;
  margin-right: 0;
}

.add_player {
  padding-right: 2rem;
}

.save_game_score_btn {
  position: absolute;
  width: 10rem;
  height: 4rem;
  right: 5rem;
}
