.nav_bar {
  width: 100%;
  height: 10rem;
  background-color: #291535;
  margin-bottom: 1rem;
}

.logo_container {
  padding: 1rem;
  width: 30rem;
  height: 30rem;
}

#main_logo {
  vertical-align: middle;
  width: 100%;
}
